<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Cadastro de Funcionario</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>Cadastro de Funcionario</strong>
		</div>
		<div class="panel-body">
			<form class="form-horizontal" th:object="${funcionario}" th:action="@{/funcionario/save}" method="POST" style="margin: 10px">
				<div class="form-group">
 					<fieldset>
						<div class="form-group row">
							<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
								<div th:each="detailedError : ${#fields.detailedErrors()}">
									<span th:text="${detailedError.message}"></span>
								</div>
							</div>
						</div> 					
						<div class="form-group row">
						    <div class="col-md-1">
						        <input type="text" class="form-control input-sm" id="id" th:field="*{id}" readOnly="readonly"/>
						    </div>
						 </div>
						<div class="form-group row">                                                          
							<div class="col-md-4" th:classappend="${#fields.hasErrors('nome')}? 'has-error'">
							    <label>Nome</label>
							    <input type="text" class="form-control input-sm" th:field="*{nome}" autofocus="autofocus" placeholder="Informe o nome" maxlength="150"/>
							</div>
						</div>
						<div class="form-group row">                                                          
							<div class="col-md-4" th:classappend="${#fields.hasErrors('telefone')}? 'has-error'">
							    <label>Telefone</label>
							    <input type="text" class="form-control input-sm" th:field="*{telefone}" placeholder="Informe o telefone" maxlength="12"/>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4" th:classappend="${#fields.hasErrors('endereco')}? 'has-error'">
							    <label>Endereço</label>
							    <input type="text" class="form-control input-sm" th:field="*{endereco}" placeholder="Informe o endereço" maxlength="200"/>
							</div>
						</div>
						<div class="form-group row">                                                          
							<div class="col-md-4" th:classappend="${#fields.hasErrors('cidade')}? 'has-error'">
							    <label>Cidade</label>
							    <input type="text" class="form-control input-sm" th:field="*{cidade}" placeholder="Informe o modelo" maxlength="100"/>
							</div>
						</div>
						<div class="form-group row">                                                          
							<div class="col-md-4" th:classappend="${#fields.hasErrors('estado')}? 'has-error'">
							    <label>Estado</label>
							    <select id="estado" th:field="*{estado}" class="form-control input-sm">
								    <option value="">Selecione o Estado</option>
								    <option th:each="estado : ${estados}"  th:value="${estado.id}" th:text="${estado.nome}" selected="selected"></option>
							    </select>
							</div>
						</div>
						<div class="form-group row">                                                          
							<div class="col-md-4" th:classappend="${#fields.hasErrors('nomePai')}? 'has-error'">
							    <label>Nome do Pai</label>
							    <input type="text" class="form-control input-sm" th:field="*{nomePai}" placeholder="Informe a marca" maxlength="150"/>
							</div>
						</div>
						<div class="form-group row">                                                          
							<div class="col-md-4" th:classappend="${#fields.hasErrors('nomeMae')}? 'has-error'">
							    <label>Nome da Mãe</label>
							    <input type="text" class="form-control input-sm" th:field="*{nomeMae}" placeholder="Informe a marca" maxlength="150"/>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="form-group row">
					<button type="submit" class="btn btn-sm btn-primary">Salvar</button>
					<a th:href="@{/funcionario/}" class="btn btn-sm btn-default">Cancelar</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>